.video-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.video-title {
    font-weight: bold;
    margin-bottom: 10px;
}
.video-description {
    margin-bottom: 20px;
}